@import "tailwindcss";

:root {
  --background: #0b0c1c;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-image: linear-gradient(to top, #1e2044, #0b0c1c);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes twinkle {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 0.85;
  }
}

@keyframes fadeFromTransparent {
  from {
    opacity: 0;
  }
}

.star {
  background-color: white;
  position: absolute;
  animation: twinkle 2000ms alternate infinite;
  border-radius: 50%;
  transition:
    transform 1000ms ease-out,
    filter 1000ms ease-out,
    opacity 1000ms ease-out
}

.star:hover {
  animation: none;
  opacity: 1;
  filter: drop-shadow(0 0 10px white);
  transform: scale(1.5)
}

.glow {
  filter: drop-shadow(0 0 5px rgb(255, 255, 255));
  animation: fadeFromTransparent 2000ms;
}